body{
    background-color: silver;
    font-family: sans-serif;
    display: flex;
    
  }

  .accordion{
    width: 50%;
  }
  
  .accordion h1{
    justify-content: center;
    text-align: left;
    margin:0px;
    background-color:#E6B0AA;
    border: 3px solid ;
    padding: 5px;
    border-radius: 5px;
  }
  
  .accordion article{
    margin:0;
    padding:10px;
    background-color:#FAE5D3;
    border: 3px solid;
    border-radius: 5px;  
  }
  
  .accordion h1:hover{
    background-color: #FAE5D3;
  }